<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div id="container">
        <img id="bg-img" src="/fullBG.jpg" alt="image">
        <div id="left_side">
            <div id="login">
                <div id="one"><h2><span>Administration</span> Log in</h2></div>
                <div id="two">
                    <h5>Email/Phone number</h5>
                    <input type="text" placeholder="email or Phone number">
                    <h5>Password</h5>
                    <input type="password" placeholder="Password">
                    <a href="#"><h6>Forgot Password ?</h6></a>
                </div>
                <div id="three">
                    <button type="submit"> Log in</button>
                    <span> or login  using</span>
                    <a href="www.google.com"><img src="/google.png" alt=""></a>

                </div>
                <hr>
                <div id="four">
                    <span>Do not have an account ?</span>
                    <button><a href="http://localhost:8080/home/administration/signup">sign up</a></button>
                </div>
            </div>
        </div>
        <div id="right_side"></div>
    </div>
</body>

</html>