<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agency</title>
    <link rel="stylesheet" href="/css/agency.css">
</head>

<body>
    <header>
        <div id="nav">
            <a href="http://localhost:8080/home">Home</a><a href="#">About Us</a><a href="#">Contact Us</a>
        </div>
        <div>
            <img src="/notification.png" alt="notification">
        </div>
    </header>
    <main>
        <div id="container">
            <div class="up">
                <div id="right">
                    <div id="logo">
                        <img src="/fireAgency.png" alt="logo">
                    </div>
                    <div id="name">
                        <h1>Fire Departent</h1>
                        <h3>Maheshtala , West Bangal</h3>
                    </div>
                </div>
                <div id="left">
                    <h2>Number of workers</h2>
                    <h1>50</h1>
                </div>
            </div>
            <hr>
            <div class="down">
                <div id="down-up">
                    <h1>
                        Other Agencies
                    </h1>
                    <div class="search">
                        <form action="#">
                            <input type="text" placeholder=" Search Agency" name="search">
                            <button>
                                <img src="/images.png" alt="search-icon">
                            </button>
                        </form>
                    </div>
                </div>
                <div id="down-down">
                    <div id="buttons">
                        <div class="agencies">
                            <img src="/Food.png" alt="agen5">
                            <h3>Food and Supplies Department</h3>
                        </div>
                        <div class="agencies">
                            <img src="/fireAgency.png" alt="agen1">
                            <h3>Fire department</h3>
                        </div>
                        <div class="agencies">
                            <img src="/ambu.png" alt="agen2" style="margin-top: 5px;">
                            <h3>Ambulance</h3>
                        </div>
                        <div class="agencies">
                            <img src="/Police.png" alt="agen3" style="height: 65px; width: 102px;">
                            <h3>Police</h3>
                        </div>
                        <div class="agencies">
                            <img src="/Hospitals.jpeg" alt="agen4" style="height: 65px;">
                            <h3>Hospitals</h3>
                        </div>
                    </div>
                    <div id="dis">
                        <div id="info">
                            <img src="/mahes.jpeg" alt="map">
                            <span> <b>Location</b> :- Maheshtala , West Bangal</span>
                            <span> <b>Contact Info</b> :- abc1234@gmail.com</span>
                            <span> <b>Agency number</b> :- +91 3459499823</span>
                            <button>Chat now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script>

    let agen = document.querySelectorAll(".agencies");
    console.log(agen);
    let but = document.querySelector("#dis");
    console.log(but);

    for (a of agen) {
        count = 1;
        a.addEventListener("click", () => {
            console.log(count);
            count++;
            if (count % 2 != 0) {
                console.log("odd");
                but.style.display = "none";
            }
            else {
                console.log("even");
                but.style.display = "";
            }
        })
    }
</script>

</html>