<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div id="Bharat">
            <img src="/logo.png" alt="logo">
            <h1>RESCUE BHARAT</h1>
        </div>
        <div id="nav">
            <ul type="none">
                <li>Home</li>
                <li>About Us</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </header>
    <main>
        <!-- <img src="fullBG.jpg" alt="bgimg"> -->
        <div id="container">
            <div class="about">
                <div class="content">
                    <h1>we rescue india from <span>natural diaster</span></h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, nostrum.
                    </p>
                    <h3>Lets rescue inida together by resgistering yourself in our application</h3>
                </div><hr>
                <div class="login">
                    <h2>Login as</h2>
                    <button><a href="http://localhost:8080/home/administration">Rescue Agency</a></button>
                    <button><a href="http://localhost:8080/home/user">User</a></button>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>

</body>

</html>