<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/sign_up.css">
</head>

<body>
    <div id="container">
        <img id="bg-img" src="/mirror_FBG.jpg" alt="image">
        <div id="left_side"> </div>


        <div id="right_side">
            <div id="signup">
                <div id="one">
                    <h2>Sign up</h2>
                    <span>Please fill in this form to create your account</span>
                </div><hr>

                <div id="two">
                    <input type="text">
                    <input type="text">
                    <input type="email">
                    <input type="password">
                    <input type="password">
                </div><hr>

                <div id="three">
                    <input type="checkbox" id="check">
                    <label for="check">I accept the <a href="#">Terms of Use & Privacy Policy.</a></label>
                    <button type="submit">Sign Up</button>
                </div>

            </div>
        </div>
    </div>
</body>

</html>