* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    /* background:linear-gradient(45deg,rgb(17, 82, 115) , rgb(123, 239, 241)) ; */
    padding: 10px;
    /* text-align: center; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    justify-content: space-between;

}

#Bharat{
    display: flex;
    /* background-color: rgb(18, 206, 209) ; */
    width: 400px;
    /* box-shadow: 10px 0 50px  rgb(18, 206, 209); */
}

li{
    padding-top: 15px;
    display: inline-block;
    margin-left: 50px;
    font-size: 2em;
    font-weight: bold;
    color: rgb(18, 206, 209);
}

#nav {
    /* border: 2px solid black; */
    width: 610px;
}


header img {
    height: 75px;
    width: 75px;
    margin-right: 10px;
    background-color: rgb(18, 206, 209,0.6);
    border-radius: 37px;
}

header h1 {
    width: 400px;
    padding-top: 15px;
    font-weight: 500;
    font-size: 36px;
    font-weight: bolder;
}

#container {
    /* background-color: yellow; */
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 50px;
    width: 90vw;
    height: 600px;
    background-image: url(/fullBG.jpg);
    background-size: cover;
}

.about {
    background-color: white;
    border: 5px solid white;
    box-shadow: 10px 10px 100px 90px white;
    /* margin-left: 15px; */
    height: 600px;
    justify-content: space-between;
    width: 614px;
}

.content {
    /* border: 2px solid black; */
    /* background-color: aqua; */
    height: 400px;
    text-align: left;
}

.content h1 {
    /* border: 2px solid black; */
    font-size: 3.5em;
    text-align: left;
}

.content h1 span {
    color: rgb(18, 206, 209);
}

.content p {
    height: 200px;
    /* border : 2px solid black */
}

.content h3 {
    text-align: center;
    /* border: 2px solid black; */
}

.login {
    /* border: 2px solid black; */
    /* background-color: yellow; */
    height: 180px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.4em;
}

h2 {
    margin-bottom: 15px;
}

button {
    height: 60px;
    width: 200px;
    background-color: rgb(18, 206, 209);
    border-radius: 55px;
}