<link rel="stylesheet" href="css/reset.css" />

<header>
    <img src="logo-res.jpg" alt="Your Image" />
    <h1
        style="
            text-align: center;
            font-weight: 500;
            font-size: 36px;
            font-weight: bolder;
        "
    >
        RESCUE BHARAT
    </h1>
    <hr />
</header>
<div class="container">
    <a href="#registrationPortal1" class="content">
        <div class="text">
            <span class="image"> <img src="admin2.png" alt="Image" /></span>
            <div class="text-content">
                <h2 style="font-size: 35px; font-weight: bolder">
                    Register as Rescue Agency
                </h2>
                <p
                    style="
                        padding-left: 20px;
                        font-size: 25px;
                        font-weight: 800;
                    "
                >
                    Register as the Admin of the organization.
                </p>
                <p style="padding-left: 20px; font-size: 15px">
                    Authenticated documents are required.
                </p>
            </div>
        </div>
    </a>
</div>
<div id="registrationPortal2" class="hidden"></div>

<div class="container">
    <a href="#registrationPortal" class="content">
        <div class="text">
            <span class="image1">
                <img src="institution.jpg" alt="Image"
            /></span>
            <div class="text-content">
                <h2 style="font-size: 35px; font-weight: bolder">
                    Login as Administration
                </h2>
                <p
                    style="
                        padding-left: 20px;
                        font-size: 13px;
                        font-weight: 800;
                    "
                >
                    Login portal for administration of the rescue agency which
                    is already registered
                </p>
            </div>
        </div>
    </a>
</div>
